@page "/tictactoe"
@inject ITicTacToeGame TicTacToeGame;

<h2>Tic Tac Toe</h2>
<h3>Game state: @TicTacToeGame.CurrentTicTacToeGameStatus</h3>

<TicTacToeGameBoard TicTacToeGame=@TicTacToeGame SelectCell=SelectCell ></TicTacToeGameBoard>>

@code
{
    public GameSpace[,] Spaces { get; set; }

    public TicTacToeEnum CurrentGameState { get; set; }

    public void SelectCell()
    {
        StateHasChanged();
    }
}

